  
{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="showcase-category">

  <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" action="{% url 'search_results' %}" method="GET">
    <input name="q" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Subject"
          aria-label="Subject">
    
    <input name="q" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Author"
          aria-label="Author">
    
    <input name="q" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Language"
          aria-label="Language">
  
    <input name="q" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Rating"
          aria-label="Rating">
          
   
  </form>

  <button type="button" class="btn btn-outline-secondary">Submit</button>

</div>

{% endblock content %}